:root {

    --base-foreground: #000;
    --base-background: #fff;
    --base-background-rgb: 255, 255, 255;

    --base-foreground-light: #333;
    --base-background-light: #ccc;

    --icon-check: url('ic_check_black.svg');
    --icon-warn: url('ic_warn_black.svg');
    --icon-weather: url('ic_weather_black.svg');

}