:root {

    --base-foreground: #fff;
    --base-background: #000;
    --base-background-rgb: 0, 0, 0;

    --base-foreground-light: #ccc;
    --base-background-light: #333;
    
    --icon-check: url('ic_check_white.svg');
    --icon-warn: url('ic_warn_white.svg');
    --icon-weather: url('ic_weather_white.svg');

}